@{
  Layout = "_Layout";
}

@using SweetSavory.Models;
@model List<SweetSavory.Models.Treat>;

<h1>Treats</h1>


<h1>Treats for @User.Identity.Name</h1>

@if (Model.Any())
{
  @foreach (Treat treat in Model)
  {
    <p>@Html.ActionLink($"{treat.Title}", "Details", new { id = treat.TreatId })</p>
  }
} 
else
{
  <h3>No treats have been added yet!</h3>
}

<hr/>
<p>@Html.ActionLink("Add new Treat", "Create")</p>